<div class="container">
  <h5 class="fifthSection-title">Projects</h5>
  <div class="Projects">
    <div class="firstProject">
      <a
        class="imgLink-fifthSection"
        href="https://github.com/DBodies/Valentyn"
        target="_blank"
        ><img
          src="/src/img/Valentyn@1x.png"
          alt="valentynSite"
          srcset="/src/img/Valentyn@2x.png"
          height="712"
      /></a>
      <div class="wrapperForText-fifthSection">
        <p class="siteTitle">1. Something about me</p>
        <p class="siteDscr">
          This project was made using animations and libraries for Frontend
          development. It is fully functional, which makes it working and
          available for work.
        </p>
        <p class="siteDscr">
          A project about a beginner UI/UX designer. Describes his knowledge and
          projects. Supports the possibility of cooperation by filling out a
          form or going to the specified contacts. You can also provide a PDF
          file of the resume
        </p>
      </div>
    </div>
    <div class="firstProject reverse">
      <a
        class="imgLink-fifthSection linkReverse"
        href="https://github.com/DBodies/project-Group-03"
        target="_blank"
        ><img
          class="imgReverse"
          src="/src/img/organic@1x.png"
          alt="organic-vegetables"
          srcset="/src/img/organic@2x.png"
      /></a>
      <div class="wrapperForText-fifthSection">
        <p class="siteTitle">2. Green Harvest</p>
        <p class="siteDscr secondProject">
          Performed the role of Team Lead. Main tasks included managing work
          processes, fine-tuning the development environment with Vite,
          reviewing and adjusting Pull Requests, updating technical
          dependencies, and making final adjustments to the site, including
          layout improvements.
        </p>
        <p class="siteDscr secondProject">
          A platform about healthy eating, balanced diets and fresh vegetables
          straight from the garden. Only natural products for your health.
        </p>
      </div>
    </div>
    <div class="firstProject">
      <a
        class="imgLink-fifthSection"
        href="https://github.com/DBodies/Mustage"
        target="_blank"
        ><img
          src="/src/img/mustage@1x.png"
          alt="mustage"
          srcset="/src/img/mustage@2x.png"
      /></a>
      <div class="wrapperForText-fifthSection">
        <p class="siteTitle">3. Mustage</p>
        <p class="siteDscr">
          Adaptive landing page with clickable buttons. Animations and a
          standard set of frontend tools were used here.
        </p>
        <p class="siteDscr">
          A project about a beginner UI/UX designer. Describes his knowledge and
          projects. Supports the possibility of cooperation by filling out a
          form or going to the specified contacts. You can also provide a PDF
          file of the resume
        </p>
      </div>
    </div>
  </div>
</div>
