<div class="container firstSection-wrapper">
  <div class="wrapperForText">
    <h1 class="myName">Hi, i'm Denis</h1>
    <div class="wrapperForBtn">
      <a href="#sixthSection"><button class="btnWriteMe" type="button">Write me</button></a>
      <a href="#secondSection" class="readMoreLink"
        >Read more
        <svg width="30" height="30">
          <use href="/sprite.svg#icon-svgreadmore"></use></svg
      ></a>
    </div>
      </div>
    <img class="firstBodyPNG" src="/src/img/firstBody.png" alt="body">
</div>
