<div class="container thirdSection-wrapper">
    <h3 class="thirdSection-title">Education</h3>
    <div class="wrapperForEducations">
<p class="nameOfKnowledgePlace">College</p>
<div class="wrapperForList">
<ul class="thirdSection-list">
    <li class="thirdSection-items">Kharkiv College of the State University of Information and Communication Technologies</li>
    <li class="thirdSection-items Specialty">Specialty:</li>
    <li class="thirdSection-items">
        <p class="majorText">Major 1: Telecommunications and Radio Engineering</p>
    </li>
    <li class="thirdSection-items">
        <p class="majorText">Major 2: Security and Fire Alarm Electrician</p>
    </li>
</ul>
</div>
<p class="educationYears">2017-2021</p>
</div>


    <div class="wrapperForEducations glowEffect">
<p class="nameOfKnowledgePlace universityName">University</p>
<div class="wrapperForList">
<ul class="thirdSection-list university">
    <li class="thirdSection-items"><a href="" target="_blank">Ukrainian State University of Railway Transport</a></li>
    <li class="thirdSection-items">Specialty:</li>
    <li class="thirdSection-items">
        <p class="majorText">Bachelor’s Degree: Marketing</p>
    </li>
    <li class="thirdSection-items">
        <p class="majorText">Master’s Degree: Personnel Management and Administration</p>
    </li>
</ul>
</div>
<p class="educationYears">2021-present</p>
</div>


    <div class="wrapperForEducations">
<p class="nameOfKnowledgePlace coursesName">Courses</p>
<div class="wrapperForList">
<ul class="thirdSection-list courses">
    <li class="thirdSection-items"><a href="" target="_blank">GoIT School</a></li>
    <li class="thirdSection-items Specialty">Specialty:</li>
    <li class="thirdSection-items">
        <p class="majorText">Full-Stack Developer Course</p>
    </li>
</ul>
</div>
<p class="educationYears">2021-present</p>
</div>
</div>
